
button,a{
  cursor:pointer;
}
input{
  cursor:text;
}
Button:active {
  transform:scale(.8);
  background-color: #faf6f6;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}
.App{
  position: relative;
  height: 700px;
  width: 100%;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
}

.NavBar {
  margin: 10px 20px;
  background-color: #f8f8f8;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between; /* Aligns the NavButton and Sign button inline */
  align-items: center; /* Vertically centers items */
  width: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/* NavButton group container */
.NavButton {
  display: flex;  ;/* Creates space between the individual buttons */
}

/* Individual buttons inside NavButton */
.individual-NavButton {
  background-color: transparent;
  color: rgb(101, 116, 123);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 13px;
  transition: background-color 0.3s ease;
}
.NavBar-Auth {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between Create Account link and Login button */
}
/* Hover effect for individual buttons */
.individual-NavButton:hover {
  color: #1caeed;
  transform:scale(1.1);
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.individual-NavButton:active {
  transform:scale(.8);
  transition: transform 0.3 ease;
}
.navBar-a-creat-new-account {
  color: #1caeed;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px; /* Optional spacing */
}

.navBar-a-creat-new-account:hover {
  text-decoration: underline;
}
/* Sign button styling */
.Login-button-navBar {
  background-color: #1caeed;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Hover effect for Sign button */
.Login-button-navBar:hover {
  background-color: #fcfbfa;
  color: #1caeed;
}