
button,a{
  cursor:pointer;
}
input{
  cursor:text;
}
Button:active {
  transform:scale(.8);
  background-color: #faf6f6;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}
.App{
  position: relative;
  height: 700px;
  width: 100%;
  background-size: cover; 
  background-position: center; 
}
.body{
  backdrop-filter: blur(10px);
}

.NavBar {
  position: sticky;
  margin: 10px 20px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center; 
  width: auto;
  box-shadow: 0 0 20px 0px rgba(0, 28, 105, 0.2);
  border-radius: 10px;
}
.NavBar-logo{
  width: 60px;
  margin: 1px 1px 1px 20px;
}

.NavButton {
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
  display: flex;  ;
}


.individual-NavButton {
  background-color: transparent;
  color: rgb(39, 38, 38);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 13px;
  transition: background-color 0.3s ease;
}
.NavBar-Auth {
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.individual-NavButton:hover {
  color: #425BA4;
  transform:scale(1.1);
  transition: color 0.3s ease,transform 0.3s ease;
}

.individual-NavButton:active {
  transform:scale(.8);
  transition: transform 0.3 ease;
}
.navBar-a-creat-new-account {
  color: #425BA4;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}

.navBar-a-creat-new-account:hover {
  text-decoration: underline;
}

.Login-button-navBar {
  background-color: #425BA4;
  color: white;
  border: 1px solid wheat;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.Login-button-navBar:hover {
  background-color: #fcfbfa;
  color: #425BA4;
}
.SignUp-button-navBar{
  
  background-color: #fcfbfa;
  color: #425BA4;
  
  border: 1px solid wheat;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}
.SignUp-button-navBar:hover {
  background-color: #425BA4;
  color: white;
}
.NavBar-Auth-profile-button{
  background-color: transparent;
  border: 2px solid #425BA4;
  border-radius: 30px;
 /* box-shadow: 0px 0px 20px 1px rgb(52, 195, 243);*/
}
.NavBar-Auth-profile-button:hover{
  background-color:#425BA4 ;
  transition:background-color 0.3s ease ;
}
.NavBar-Auth-profile-button-img{
  width: 20px;
  border-radius: 40px;
  border: none;
  background-color: transparent;
}

.NavBar-Toggle {
  background-color: transparent;
  color:  rgb(101, 116, 123);
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 10px;
  display: none; 
}
.NavBar-Toggle span{
  margin-left: 6px;
}
.NavBar-Toggle:hover {
  color: #425BA4;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.NavButton-Popup {
  position: absolute;
  top: 70px;
  right: 40%;
  left: 40%;
  background-color: #f8f8f8;
  box-shadow: 0 0.625em 1em 0 rgba(42, 43, 42, 0.79);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavButton-Popup .individual-NavButton {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  border-radius: 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .NavButton-Popup{
    width: 100px;
    left: 1%;
  }
  .NavBar{
    margin:0px ;
  }
  .navBar-a-creat-new-account{
    font-size: 10px;
  }
  .Login-button-navBar{
    width:50px;
    font-size: 10px;
    padding: 5px;
  }
  .SignUp-button-navBar{
    width:50px;
    font-size: 10px;
    padding: 5px;

  }
  .NavBar-logo{
    margin: 4px;
    width:40px;
  }
  .NavButton {
    display: none;
    margin: 0px;  
  }
  .NavBar-Toggle {
    margin-left: 0px;
    display: block;  
  }
  .NavBar-Auth{
    margin-left: auto;
  }
}

@media screen and (min-width: 769px) {
  .NavButton-Popup {
    display: none; 
  }
}


/*footer */

.footer {
  margin-top: 100%;
  background-color: #425BA4; 
  padding: 40px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer-description {
  max-width: 250px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.app-button-download {
  width: 120px;
  margin-right: 10px;
}
.app-button-download:hover{
  transform: scale(1.1);
  transition:transform .3s ease;
}
.app-button-download{
   cursor:pointer;
}
.app-buttons {
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      text-align: center;
  }

  .footer-description {
      text-align: center;
      max-width: none;
  }

  .app-buttons img {
      margin: 0 auto;
  }
}