
button,a{
    cursor:pointer;
  }
  
input{
    cursor:text;
  }
  
.login-container{
  position: absolute;
  height: auto; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: auto;
  background-color:transparent;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  padding: 10px 10px 20px 20px;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px  4px 6px rgba(0, 0, 0, 0.9);
}
.close-button{
  display: block;
  margin-left: auto;
  background-color: transparent;
  color: rgb(81, 80, 80);
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
.close-button:hover{
  transform:scale(1.1);
  transition: transform  0.3s ease;
}
 h2 {
  margin-bottom: 20px;
}

 .Login-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container-Login-button {
  width: 40%;
  padding: 10px;
  font-size: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;                  /* Ensure it's a block element */
  margin: 0 auto; 
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.login-container-Login-button:hover{
  background-color: aliceblue;
  color: #28a745;
  border: 2px solid wheat;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
