.donor {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .donor form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .donor form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .donor form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .donor form button {
    padding: 10px 20px;
    background-color: #425BA4;
    color: white;
    border: 1px solid rgb(179, 185, 245);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .donor form button:hover {
    background-color: #ffffff;
    color: #425BA4;
  }
  
  .donor h2 {
    margin-top: 40px;
    text-align: center;
  }
  
  .donor  ul {
    list-style: none;
    padding: 0;
  }
  
  .donor ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  