.receiver {
  padding: 20px;
  background-color: #f1f3f5;
  text-align: center;
}

.receiver h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.receiver-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: 0 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.receiver-form .form-group {
  margin-bottom: 15px;
}

.receiver-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.receiver-form input {
  width: 260px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.receiver-form input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.receiver-form button {
  padding: 10px 20px;
  background-color: #425BA4;
  color: white;
  border: 1px solid rgb(179, 185, 245);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.receiver-form button:hover {
  background-color: #fcfbfa;
  color: #425BA4;
}

.previous-requests {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  margin-top: 20px; 
  list-style-type: none; 
  padding: 0;
  width: 100%;
}

.previous-requests li {
  background-color: white; 
  padding: 15px; 
  margin-bottom: 10px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px;
}

.previous-requests li div {
  flex: 1;
  margin-right: 10px; 
}

.previous-requests li div:last-child {
  margin-right: 0; 
}

.previous-requests li:hover {
  background-color: #f1f3f5; 
}
.delete-button {
  padding: 5px 10px;
  background-color: #ff4d4d; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  width: 200px;
}

.delete-button:hover {
  background-color: #ff1a1a; 
}

@media (max-width: 600px) {
  .previous-requests li {
    flex-direction: column; 
  }

  .previous-requests li div {
    margin-right: 0; 
    margin-bottom: 5px; 
  }
}
